/* main website body common design pattern */
body {
    background-color: #202124;
    margin: 0;
}

/* heading section css start */
header {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.heading-text{
    font-size: 20px;
    color: white;
    margin-top: 25x;
    border-bottom: 1px solid white;
    margin-top: 10px;
    cursor: pointer;
}


.menu-items {
    display: flex;
    gap: 20px;
    font-size: 30px;
    align-items: center;
}

.menu-icon {
    width: 30px;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 50px;
    overflow-y: auto;
    max-height: 380px;
    background-color: #202124;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px
}

.all-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.dropdown-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-item img {
    width: 40px;
    height: 40px;
}

.dropdown-item p {
    font-size: 12px;
    color: #fff;
}

.dropdown-item:last-child {
    border-bottom: none;
}

/* heading section css ends */


/* main body section css starts */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

img {
    max-width: 100%;
}

form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
    width: 600px;
    margin-top: 10px;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    border-radius: 24px;
    font-size: 16px;
}

.icons-size {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.icons-size1 {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

/* main body section css ends */

/* additional buttons css */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-1 {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}


/* responsivenes media query css code here */
@media screen and (max-width: 768px) {

    .dropdown-menu {
        right: 10px;
    }

    .dropdown-item img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 480px) {

    .dropdown-menu {
        right: 5px;
    }

    .dropdown-item img {
        width: 25px;
        height: 25px;
    }

    form {
        width: 95%;
        max-width: 300px;
    }
    .icons-size1{
        display: none;
    }
}